body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
.mapbox-logo {display: none !important;}

.leaflet-clickable {
    stroke: #9ba1a5;
    stroke-width: 1;
    stroke-opacity: 1;
    fill: #C80E00;
    fill-opacity: 0.8;
    background-blend-mode: multiply;
}

.destinations {
    width: 30em;
    padding: 30px;
    position: absolute;
    top: 3em;
    height: 61vh;
    right: 15px;
    background: rgba(0, 0, 0, 0.9);

    &__logo {
        background: url($uri-destinations) no-repeat;
        background-size: contain;
        display: block;
        width: 100%;
        width: 100%;
        height: 84px;
    }

    &__description {
        color: $color-white;
        border-bottom: 1px solid $color-grey;
        border-top: 1px solid $color-grey;
        padding: em(2*$global-padding) 0;
        margin: em(2*$global-padding) 0;
        font-family: Arial;
        font-size: 12px;
        text-align: center;
        line-height: 1.5;
    }

    &__legend {

        ul {
            padding-left: 0;
            margin-bottom: 30px;
        }

        ul li {
            list-style: none;
            color: $color-white;
            font-family: Arial;
            font-size: 12px;
            margin-bottom: 15px;
            position: relative;
            padding-left: 30px;
        }

        .roaming--available,
        .roaming--unavailable {
            display: inline-block;
            position: absolute;
            left: 0;
            top: -5px;
            width: 20px;
            height: 20px;
        }

        .roaming--available {
            background-color: $color-red;
        }

        .roaming--unavailable {
            background-color: $color-grey;
        }
    }

    .roaming__coverage {
        width: 100%;
        background-color: $color-white;
        border: none;
        padding-top: em(7);
        padding-bottom: em(7);

        cursor: pointer;

        :hover {
            background-color: $color-grey-light;
        }
    }
}

.leaflet-popup-content-wrapper {
    background: transparent;
    border-radius: 50%;
    box-shadow: none;
}

.leaflet-popup {
    bottom: -30px !important; //overrides inline style

    &-content {
        text-align: center;
        padding: 0;
        font-family: engebrechtrebold;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .leaflet-popup-close-button {
        display: none;
    }

    .content-heading {

        text-transform: initial;
        letter-spacing: initial;
        display: block;
        border-bottom: 1px solid $color-grey;
        margin-top: -9px;
        font-family: Arial;
        font-weight: normal;
        font-size: 12px
    }
}

.leaflet-popup-tip {
    border-top: none;
}

.popup-marker-secondary {
    padding: 15px 5px 5px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    box-shadow: none;
    width: 154px; //Change this value to wrap around country name
    white-space: nowrap;
    color: $color-white;

    &-tip-container {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        position: relative;
    }

    &-tip {
        width: 0;
        height: 0;
        margin: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0, 0, 0, 0.8);
    }
}

.secondary-marker {
    &-content {
        padding: 15px 5px 5px;
        background: rgba(0, 0, 0, .8);
        border-radius: 0;
        box-shadow: none;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        //min-width: 100px;
        font-family: engebrechtrebold;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: bold;
        white-space: nowrap;
    }

    &-content-heading {
        text-transform: initial;
        letter-spacing: initial;
        display: block;
        border-bottom: 1px solid $color-grey;
        margin-top: -9px;
        font-family: Arial;
        font-weight: normal;
        font-size: 12px;
    }

    &-tip-container {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        position: relative;
    }

    &-tip {
        width: 0;
        height: 0;
        margin: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0, 0, 0, 0.8);
    }
}

.vdf-marker {

    &-main {
        z-index: 3000 !important;  //overrides inline-style
    }

    &-secondary {
        z-index: 5000 !important; //overrides inline-style
        display: none;
        width: 154px !important; //Change this value to wrap around country name
        margin-top: -63px !important;
        margin-left: -75px !important;
    }
}

.marker-main {
    background: $color-white;
    border-radius: 50%;
    width: em(155);
    height: em(155);
    padding: 30px 2px;
    text-align: center;
    position: absolute;
    color: #000000;

    .main-pin {
        background: url($uri-main-pin) no-repeat;
        background-size: cover;
        display: block;
        width: 30px;
        height: 37px;
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .main-subunit {
        display: block;
        font-family: engebrechtrebold;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin: 0 0 em($global-padding/2);
        line-height: 1;
    }

    .main-copy {
        line-height: 1;
        font-family: Arial;
        font-size: 11px;
        margin: em($global-padding/2) 0;
        display: block;
        font-weight: normal;
    }
    .main-href {
        background: url($uri-plus) no-repeat;
        background-size: contain;
        background-color: #120100;
        border-radius: 50%;
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 10px;
        transition: all 0.1s ease-in;

        &:hover {
            width: 23px;
            height: 23px;
        }
    }
}


.leaflet-popup-content {
    .marker-main {
        right: -32px;
        top: -15px;
    }
}

.leaflet-control-minimap {
    top: 44vh;
    right: 30px;
    border: none;
    border-radius: 0;
}

footer {
    background: #000;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 40px;

    .footer {
        &__branding {
            margin: 0;
            padding: 0;
            display: inline;

            li {
                margin-top: 10px;
                display: inline-block;
                list-style: none;
                margin-left: 5px;
                padding-left: 10px;
                &:first-of-type {
                    border-right: 1px solid $color-white;
                }

                a {
                    text-decoration: none;
                    display: block;
                    height: 20px;
                }
            }

            &--vodafone {
                background: url(../images/vodafone-logo.png) no-repeat;
                background-size: contain;
                width: 30px;
            }
            &--telegraph {
                background: url($uri-telegraph) no-repeat;
                background-size: contain;
                background-position-y: 50%;
                width: 100px;
            }
        }
        &__social {
            margin: 0;
            padding: 0;
            display: inline;
            float: right;

            li {
                margin-top: 10px;
                display: inline-block;
                list-style: none;

                a {
                    text-decoration: none;
                    display: block;
                    height: 20px;
                }
            }

            &--twitter {
                background: url($uri-btn-twitter) no-repeat;
                background-size: contain;
                width: 30px;
            }
            &--facebook {
                background: url($uri-btn-facebook) no-repeat;
                background-size: contain;
                background-position-y: 50%;
                width: 30px;
            }
        }
    }
}



